.cardWrapper{
    composes: cardWrapper from '../../../App.module.css';
}

.bottomParagraph{
    composes: bottomParagraph from '../StepEmail/StepEmail.module.css';
}

.actionButtonWrap{
    composes: actionButtonWrap from '../StepEmail/StepEmail.module.css';
}